<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/static/assets/images/original-1-642x642.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>bloglist</title>
  <link rel="stylesheet" href="/static/assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="/static/assets/tether/tether.min.css">
  <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/static/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="/static/assets/formstyler/jquery.formstyler.css">
  <link rel="stylesheet" href="/static/assets/formstyler/jquery.formstyler.theme.css">
  <link rel="stylesheet" href="/static/assets/datepicker/jquery.datetimepicker.min.css">
  <link rel="stylesheet" href="/static/assets/socicon/css/styles.css">
  <link rel="stylesheet" href="/static/assets/recaptcha.css">
  <link rel="preload" as="style" href="/static/assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="/static/assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
  <section class="extMenu1 menu cid-sgUs77I6aq" once="menu" id="extMenu1-1c">

    

    <nav class="navbar navbar-dropdown navbar-fixed-top collapsed">
        <div class="navbar-brand">
            <span class="navbar-logo">
                <a href="#">
                    <img src="/static/assets/images/original-2-642x642.png" alt="" style="height: 3.8rem;">
                </a>
            </span>
            
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item">
                    <a class="nav-link link text-white display-4" href="#">
                        ACHIEVEMENTS
                    </a>
                </li></ul>
            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-md btn-white display-4" href="/">HOME&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</a></div>
        </div>
    </nav>
</section>

<section class="extContent cid-sgXvyU0eo7" id="extContent18-1d">

    

    



    <div class="container align-center">
        <div class="row">
            <div class="col-lg-6 col-md-12 align-center">
                <img src="/static/assets/images/36.jpg" alt="">

                <h1 class="mbr-section-title mbr-regular pt-5 align-left mbr-fonts-style display-2">Solutions For Your Business</h1>
                
                <p class="mbr-text mbr-light pt-4 align-left mbr-fonts-style display-7">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dui enim, pharetra at auctor vitae,
                    mollis nec risus. Phasellus sagittis lectus at suscipit pulvinar.
                </p>
                <div class="align-left mbr-section-btn"><a class="btn btn-md btn-primary display-4" href="#">READ MORE</a></div>

            </div>

            <div class="col-md-12 col-lg-6 m-auto">



                <h1 class="mbr-section-title mbr-regular pt-5 align-left mbr-fonts-style display-2">Innovative Technology</h1>
                
                <p class="mbr-text mbr-light pt-4 align-left mbr-fonts-style display-7">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dui enim, pharetra at auctor vitae,
                    mollis nec risus. Phasellus sagittis lectus at suscipit pulvinar.
                </p>
                <div class="align-left mbr-section-btn"><a class="btn btn-md btn-primary display-4" href="#">READ MORE</a></div>

                <div class="pt-5">
                    <img src="/static/assets/images/37.jpg" alt="">
                </div>
            </div>


        </div>



    </div>
</section>

<section class="form cid-sgXvGuIMRe" id="extForm23-1f">
    
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto mbr-form" data-form-type="formoid">
                <!--Formbuilder Form-->
                <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="PJbfdcWOgmN6nSK9e0jT23hv1c0ZFLJny6Tw5qLj/i3NtBdnBXlIWTRY2vGoTzQmVEknTK5r6A6yNIl1xMyrlJ63RKmH2IvSq74ai845p98UKewOBGkZw4AJeqo2jvZh">
                    <div class="form-row">
                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out
                            the form!</div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">Oops...! some
                            problem!</div>
                    </div>
                    <div class="dragArea form-row">
                        <div class="col-lg-12 col-md-12 col-sm-12 title align-center">
                            <h3 class="mbr-section-subtitle mbr-semibold mbr-light mbr-fonts-style display-5">SEARCH</h3>
                            <h5 class="mbr-fonts-style align-center display-2">Search In Blog Posts</h5>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 form-group" data-for="last-name" style="transform: translateZ(0px);">
                            <span class="mbr-iconfont mobi-mbri-setting mobi-mbri" for="last-name-extForm23-1f"></span>
                            <input type="text" name="last-name" placeholder="Last Name" data-form-field="name" class="form-control display-7" required="required" value="" id="last-name-extForm23-1f">
                        </div>
                        
                        
                        <div class="col-lg-12 col-md-12 col-sm-12 align-center">
                            <p class="mbr-fonts-style py-2 display-5">Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit. Nulla eget lectus eu ex ornare porta euismod a libero.
                                Phasellus vehicula placerat enim at egestas. Aliquam suscipit felis in massa hendrerit
                                tristique. In augue diam, pellentesque nec pulvinar in, sagittis ac nulla. Sed eu lectus
                                vitae justo vehicula viverra.</p>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn"><button type="submit" class="btn btn-success display-7">SEARCH</button></div>
                    </div>
                </form>
                <!--Formbuilder Form-->
            </div>
        </div>
    </div>
</section>

<section class="features1 cid-sgXvAuM4m6" id="extContent24-1e">

    

    
    <div class="container">
        <div class="row">

            <div class="card col-12 col-md-6">
                <div class="card-img">
                    <img src="assets/images/38.jpg" alt="">
                </div>
                <div class="card-box pt-4">
                    <div class="icon-box pb-3 align-center">
                        <div class="item">
                            <span class="mbr-iconfont mobi-mbri-clock mobi-mbri"></span>
                            <p class="date align-left mbr-fonts-style display-7">MARCH 13, 2025</p>
                        </div>
                        <div class="item">
                            <span class="mbr-iconfont mobi-mbri-image-gallery mobi-mbri"></span>
                            <p class="date align-left mbr-fonts-style display-7">Consonantia</p>
                        </div>
                    </div>
                    <h4 class="card-title align-center pb-1 mbr-bold mbr-fonts-style display-5">Stray gleams steal into the inner
                        sanctuary</h4>
                    <p class="mbr-text align-center pb-3 mbr-fonts-style display-7">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper elementum felis in
                        bibendum. Proin vitae turpis ipsum.</p>
                    <h5 class="link align-center mbr-fonts-style display-7"><a href="#" class="text-secondary">
                            READ MORE</a></h5>
                </div>
            </div>

            <div class="card col-12 col-md-6">
                <div class="card-img">
                    <img src="/static/assets/images/39.jpg" alt="">
                </div>
                <div class="card-box pt-4">
                    <div class="icon-box pb-3 align-center">
                        <div class="item">
                            <span class="mbr-iconfont mobi-mbri-clock mobi-mbri" style="color: rgb(191, 27, 2); fill: rgb(191, 27, 2);"></span>
                            <p class="date align-left mbr-fonts-style display-7">MARCH 15, 2025</p>
                        </div>
                        <div class="item">
                            <span class="mbr-iconfont mobi-mbri-image-gallery mobi-mbri" style="color: rgb(191, 27, 2); fill: rgb(191, 27, 2);"></span>
                            <p class="date align-left mbr-fonts-style display-7">Paris</p>
                        </div>
                    </div>

                    <h4 class="card-title align-center pb-1 mbr-bold mbr-fonts-style display-5">Absorbed in the exquisite sense of
                        tranquil</h4>
                    <p class="mbr-text align-center pb-3 mbr-fonts-style display-7">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper elementum felis in
                        bibendum. Proin vitae turpis ipsum.</p>
                    <h5 class="link align-center mbr-fonts-style display-7"><a href="#" class="text-warning">
                            READ MORE</a></h5>
                </div>
            </div>

            



        </div>

    </div>

</section>

<section class="extFooter cid-sgXz6TWeef" id="extFooter26-1i">

    

    

    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-6 col-md-8 col-sm-12">

                <div class="navbar-brand pb-3">
                    <div class="logo">
                        <a href="#">
                            <img class="navbar-logo" src="/static/assets/images/original-800x800.png" alt="">
                        </a>
                    </div>
                </div>

                <h3 class="mbr-text mbr-bold mbr-fonts-style logo-title display-7">Pinkcity Infotech</h3>

                <h4 class="mbr-text mbr-fonts-style logo-sub-title display-4"><font color="#9e9e9e"><em>Software Company</em></font></h4>



                <div class="social-list align-center py-4">
                    <div class="soc-item">
                        <a href="https://twitter.com/mobirise" target="_blank">
                            <div class="mbr-iconfont mbr-iconfont-social socicon-twitter socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                            <div class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                            <div class="mbr-iconfont mbr-iconfont-social socicon-googleplus socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://instagram.com/mobirise" target="_blank">
                            <div class="mbr-iconfont mbr-iconfont-social socicon-skype socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://instagram.com/mobirise" target="_blank">
                            <div class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                        </a>
                    </div>
                    
                </div>
                <p class="mbr-text mbr-normal py-2 links mbr-fonts-style display-4">
                    Copyright (c) 2020&nbsp;<a href="/" class="text-primary">Pinkcity Infotech</a></p>

            </div>









        </div>
    </div>

</section>


<script src="/static/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="/static/assets/popper/popper.min.js"></script>
  <script src="/static/assets/tether/tether.min.js"></script>
  <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/assets/smoothscroll/smooth-scroll.js"></script>
  <script src="/static/assets/dropdown/js/nav-dropdown.js"></script>
  <script src="/static/assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="/static/assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="/static/assets/formstyler/jquery.formstyler.js"></script>
  <script src="/static/assets/formstyler/jquery.formstyler.min.js"></script>
  <script src="/static/assets/datepicker/jquery.datetimepicker.full.js"></script>
  <script src="/static/assets/theme/js/script.js"></script>
  <script src="/static/assets/formoid.min.js"></script>
  
  
  
</body>
</html>