<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/static/assets/images/original-1-642x642.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>blog_page</title>
  <link rel="stylesheet" href="/static/assets/tether/tether.min.css">
  <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/static/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="/static/assets/socicon/css/styles.css">
  <link rel="preload" as="style" href="/static/assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="/static/assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
  <section class="extMenu1 menu cid-sgXuy1UvyH" once="menu" id="extMenu1-18">

    

    <nav class="navbar navbar-dropdown navbar-fixed-top collapsed">
        <div class="navbar-brand">
            <span class="navbar-logo">
                <a href="#">
                    <img src="/static/assets/images/original-2-642x642.png" alt="" style="height: 3.8rem;">
                </a>
            </span>
            
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item">
                    <a class="nav-link link text-white display-4" href="#">
                        ACHIEVEMENTS
                    </a>
                </li></ul>
            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-md btn-white display-4" href="/">HOME&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</a></div>
        </div>
    </nav>
</section>

<section class="extSlider testimonials-slider cid-sgXuOjSQsd" data-interval="false" id="extSlider2-1a">
     

    
    <div class="main container">
        <h2 class="mbr-section-title pb-3 mbr-fonts-style mbr-bold align-left display-2">OUR HISTORY
        </h2>
        <div class="row">
            <div class="first-col col-md-6">
                <h3 class="mbr-section-subtitle mbr-fonts-style align-left mbr-regular display-7"><strong>Lorem ipsum dolor</strong> sit amet, consectetur adipisicing elit. Aut id, atque sed aperiam laborum nostrum quo fugit esse dolorum accusantium, nam maxime architecto hic magni harum blanditiis enim aliquam similique! Incidunt aliquam, temporibus labore provident expedita quod assumenda. Illum repellat itaque, modi assumenda atque voluptas! Repellat et facilis, fuga cupiditate ipsa, earum, aliquid molestiae quo, asperiores eaque consectetur deserunt aliquam.
                </h3>
                <div class="mbr-section-btn align-left py-2">
                    <a class="btn btn-md btn-info display-4" href="#">LEARN MORE</a>
                </div>
            </div> 
            
            <div class="second-col col-md-6">
                <div class="carousel slide slides" role="listbox" data-pause="true" data-keyboard="false" data-ride="carousel" data-interval="5000">
                    <ol class="carousel-indicators">
                        <li data-slide-to="0" class="active"></li>
                        <li data-slide-to="1"></li>
                        <li data-slide-to="2"></li>
                        
                        
                        
                        
                        
                        
                        
                    </ol>
                    <div class="carousel-inner">

                        
                    
                        

                        
                    <div class="carousel-item ">
                            <div class="media-container-row">
                                <div class="col-md-12">
                                    <div class="wrap-img ">
                                        <img src="/static/assets/images/1.jpg" class="img-responsive clients-img" alt="" title="">
                                    </div>
                                </div>
                            </div>
                        </div><div class="carousel-item ">
                            <div class="media-container-row">
                                <div class="col-md-12">
                                    <div class="wrap-img ">
                                        <img src="/static/assets/images/3.jpg" class="img-responsive clients-img" alt="" title="">
                                    </div>
                                </div>
                            </div>
                        </div><div class="carousel-item ">
                            <div class="media-container-row">
                                <div class="col-md-12">
                                    <div class="wrap-img ">
                                        <img src="/static/assets/images/2.jpg" class="img-responsive clients-img" alt="" title="">
                                    </div>
                                </div>
                            </div>
                        </div></div>   
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content4 cid-sgXuQTR9oJ" id="extContacts4-1b">
    

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="card-title mbr-semibold pb-2 align-left mbr-fonts-style display-5">About Me</h4>
            </div>

            <div class="col-lg-8">

                <p class="mbr-text pb-2 align-left mbr-fonts-style display-4">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate est leo, vitae auctor metus
                    eleifend eu. Quisque fermentum nisi sed convallis ornare. Aenean laoreet, libero eget pharetra
                    laoreet, lectus augue auctor justo, et condimentum elit metus vitae enim. Maecenas tincidunt tempus
                    eros, eget aliquam nibh dapibus ornare. Curabitur egestas gravida mi nec egestas. Donec urna diam,
                    tempus non risus pretium, tristique consequat elit. Praesent vitae eros molestie, dapibus nunc ac,
                    tristique lectus. Praesent ultricies mi sit amet sapien cursus bibendum.

                </p>
            </div>

            <div class="col-lg-4">


                <p class="items items-col align-left mbr-fonts-style display-4">
                    <strong>MORE INFO:</strong> &nbsp;info@site.com<br><strong>CATEGORY:</strong> &nbsp;Creative<br><strong>DATE:
                    </strong>&nbsp;December 26, 2025<br></p>


                <div class="social-list pt-2 align-left">

                    <p class="items align-left mbr-fonts-style display-4"><strong>
                            SHARE:&nbsp;</strong></p>


                    <div class="soc-item">
                        <a href="https://twitter.com/mobirise" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-twitter socicon"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://www.youtube.com/c/mobirise" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-youtube socicon"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://instagram.com/mobirise" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-vkontakte socicon"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-googleplus socicon"></span>
                        </a>
                    </div>

                    <div class="soc-item">
                        <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-skype socicon"></span>
                        </a>
                    </div>

                    

                    

                </div>


            </div>
        </div>
    </div>
</section>

<section class="extFooter cid-sgXuz2Yn6i" id="extFooter26-19">

    

    

    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-6 col-md-8 col-sm-12">

                <div class="navbar-brand pb-3">
                    <div class="logo">
                        <a href="#">
                            <img class="navbar-logo" src="/static/assets/images/original-800x800.png" alt="">
                        </a>
                    </div>
                </div>

                <h3 class="mbr-text mbr-bold mbr-fonts-style logo-title display-7">Pinkcity Infotech</h3>

                <h4 class="mbr-text mbr-fonts-style logo-sub-title display-4"><font color="#9e9e9e"><em>Software Company</em></font></h4>



                <div class="social-list align-center py-4">
                    <div class="soc-item">
                        <a href="https://twitter.com/mobirise" target="_blank">
                            <div class="mbr-iconfont mbr-iconfont-social socicon-twitter socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                            <div class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                            <div class="mbr-iconfont mbr-iconfont-social socicon-googleplus socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://instagram.com/mobirise" target="_blank">
                            <div class="mbr-iconfont mbr-iconfont-social socicon-skype socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://instagram.com/mobirise" target="_blank">
                            <div class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                        </a>
                    </div>
                    
                </div>
                <p class="mbr-text mbr-normal py-2 links mbr-fonts-style display-4">
                    Copyright (c) 2020&nbsp;<a href="/" class="text-primary">Pinkcity Infotech</a></p>

            </div>









        </div>
    </div>

</section>


<script src="/static/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="/static/assets/popper/popper.min.js"></script>
  <script src="/static/assets/tether/tether.min.js"></script>
  <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/assets/smoothscroll/smooth-scroll.js"></script>
  <script src="/static/assets/dropdown/js/nav-dropdown.js"></script>
  <script src="/static/assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="/static/assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="/static/assets/bootstrapcarouselswipe/bootstrap-carousel-swipe.js"></script>
  <script src="/static/assets/mbr-testimonials-slider/mbr-testimonials-slider.js"></script>
  <script src="/static/assets/theme/js/script.js"></script>
  
  
  
</body>
</html>