<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/static/assets/images/original-1-642x642.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>services</title>
  <link rel="stylesheet" href="/static/assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="/static/assets/tether/tether.min.css">
  <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/static/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="/static/assets/socicon/css/styles.css">
  <link rel="preload" as="style" href="/static/assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="/static/assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
  <section class="extMenu1 menu cid-sgUs77I6aq" once="menu" id="extMenu1-11">

    

    <nav class="navbar navbar-dropdown navbar-fixed-top collapsed">
        <div class="navbar-brand">
            <span class="navbar-logo">
                <a href="#">
                    <img src="/static/assets/images/original-2-642x642.png" alt="" style="height: 3.8rem;">
                </a>
            </span>
            
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item">
                    <a class="nav-link link text-white display-4" href="#">
                        ACHIEVEMENTS
                    </a>
                </li></ul>
            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-md btn-white display-4" href="/">HOME&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</a></div>
        </div>
    </nav>
</section>

<section class="extHeader cid-sgUmzn4gVa" id="extHeader10-s">

    

    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(191, 27, 2);">
    </div>

    <div class="container">
        <div class="media-container-row">
            <div class="mb-4 content-container col-md-10">
                <h1 class="mbr-section-title pb-3 mbr-fonts-style align-center display-1"><strong>Trendy website blocks</strong></h1>
                <p class="mbr-text pb-3 mbr-fonts-style p-descr align-center display-5">
                    Mobirise offers numerous themes that include sliders, galleries, articles, counters, countdowns, full-screen intros, features, data tables &amp; pricing tables, progress bar &amp; cycles, timelines, tabs &amp; accordions, call-to-action, forms, maps, social blocks, testimonials, footers, and more.
                </p>
            </div>
        </div>
    </div>
    <div class="container-boxes mbr-white">
        <div class="box-item">
            <div class="icon-block-top pb-4">
                <span class="mbr-iconfont mbri-mobile display-2"></span>
            </div>
            <h4 class="box-item-title pb-3 mbr-fonts-style mbr-black display-5">Flexible Rates</h4>
            <p class="box-item-text mbr-fonts-style display-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, cupiditate delectus doloremque ea enim eveniet id magni necessitatibus odio.</p>
            <div class="mbr-section-btn"><a class="btn-underline mr-3 text-info display-4" href="#">Read More</a></div>
        </div>
        <div class="box-item">
            <div class="icon-block-top pb-4">
                <span class="mbr-iconfont mbri-rocket display-2"></span>
            </div>
            <h4 class="box-item-title pb-3 mbr-fonts-style mbr-black display-5">Business Solutions</h4>
            <p class="box-item-text mbr-fonts-style display-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, cupiditate delectus doloremque ea enim eveniet id magni necessitatibus odio.</p>
            <div class="mbr-section-btn"><a class="btn-underline mr-3 text-info display-4" href="#">Read More</a></div>

        </div>
        <div class="box-item">
            <div class="icon-block-top pb-4">
                <span class="mbr-iconfont mbri-clock display-2"></span>
            </div>
            <h4 class="box-item-title pb-3 mbr-fonts-style mbr-black display-5">Opening Hours</h4>
            <p class="box-item-text mbr-fonts-style display-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, cupiditate delectus doloremque ea enim eveniet id magni necessitatibus odio.</p>
            <div class="mbr-section-btn">
                <a class="btn-underline mr-3 text-info display-4" href="#">Read More</a>
            </div>

        </div>
    </div>
</section>

<section class="extTabs tabs cid-sgUxaW9HkL" id="extTabs1-14">

    

    

    <div class="container">
        <h2 class="mbr-section-title align-center mbr-fonts-style display-5">DIGITAL MARKETING</h2>
        <h3 class="mbr-section-subtitle display-5 align-center mbr-light mbr-fonts-style display-7">
            LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPICISING ELIT.<br>
        </h3>
    </div>
    <div class="media-container-row">    
        <div class="row tabcont">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link mbr-fonts-style active" role="tab" data-toggle="tab" href="#tab1" aria-expanded="true">
                            <h4 class="mbr-fonts-style tab-header display-4">OUR ADVANTAGES</h4>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mbr-fonts-style active" role="tab" data-toggle="tab" href="#tab2" aria-expanded="false">
                            <h4 class="mbr-fonts-style tab-header display-4">OUR PRINCIPLES</h4>
                        </a>
                    </li>
                    
                    
                    
                    
                </ul>
        </div>
    </div>

    <div class="container">
        <div class="row px-1 justify-content-center">
            <div class="tab-content">
                <div id="tab1" class="tab-pane in active mbr-table" role="tabpanel">
                    <div class="row tab-content-row">
                        <div class="col-xs-12 col-md-6 tab-elem">
                            
                            <h4 class="mbr-element-title align-center mbr-fonts-style pb-2 display-7">
                                LOREM IPSUM
                            </h4>
                            <p class="mbr-section-text align-center mbr-fonts-style display-7">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, nihil deleniti, velit quo totam minus quia alias.
                            </p>
                        </div>

                        

                        

                        
                    </div>
                </div>

                <div id="tab2" class="tab-pane  mbr-table" role="tabpanel">
                    <div class="row tab-content-row">
                        <div class="col-xs-12 col-md-6 tab-elem">
                            
                            <h4 class="mbr-element-title align-center mbr-fonts-style pb-2 display-7">
                                LOREM IPSUM
                            </h4>
                            <p class="mbr-section-text align-center mbr-fonts-style display-7">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ut repellendus eius alias pariatur.
                            </p>
                        </div>

                        

                        

                        
                    </div>
                </div>

                <div id="tab3" class="tab-pane  mbr-table" role="tabpanel">
                    <div class="row tab-content-row">
                        <div class="col-xs-12 col-md-6 tab-elem">
                            
                            <h4 class="mbr-element-title align-center mbr-fonts-style pb-2 display-7">
                                LOREM IPSUM
                            </h4>
                            <p class="mbr-section-text align-center mbr-fonts-style display-7">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt ad adipisci amet nam delectus, eveniet nemo.
                            </p>
                        </div>

                        

                        

                        
                    </div>
                </div>

                <div id="tab4" class="tab-pane  mbr-table" role="tabpanel">
                    <div class="row tab-content-row">
                        <div class="col-xs-12 col-md-6 tab-elem">
                            
                            <h4 class="mbr-element-title align-center mbr-fonts-style pb-2 display-7">
                                LOREM IPSUM
                            </h4>
                            <p class="mbr-section-text align-center mbr-fonts-style display-7">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia nesciunt deserunt earum quidem omnis.
                            </p>
                        </div>

                        

                        

                        
                    </div>
                </div>

                <div id="tab5" class="tab-pane  mbr-table" role="tabpanel">
                    <div class="row tab-content-row">
                        <div class="col-xs-12 col-md-6 tab-elem">
                            
                            <h4 class="mbr-element-title align-center mbr-fonts-style pb-2 display-7">
                                LOREM IPSUM
                            </h4>
                            <p class="mbr-section-text align-center mbr-fonts-style display-7">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam earum perferendis quidem asperiores neque.
                            </p>
                        </div>

                        

                        

                        
                    </div>
                </div>

                <div id="tab6" class="tab-pane  mbr-table" role="tabpanel">
                    <div class="row tab-content-row">
                        <div class="col-xs-12 col-md-6 tab-elem">
                            
                            <h4 class="mbr-element-title align-center mbr-fonts-style pb-2 display-7">
                                LOREM IPSUM
                            </h4>
                            <p class="mbr-section-text align-center mbr-fonts-style display-7">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore ea, eos, atque labore odit reiciendis sunt.
                            </p>
                        </div>

                        

                        

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="extTabs tabs cid-sgUzSPNeJz" id="extTabs1-15">

    

    

    <div class="container">
        <h2 class="mbr-section-title align-center mbr-fonts-style display-5">WEB &amp; MOBILE APPLICATIONs</h2>
        <h3 class="mbr-section-subtitle display-5 align-center mbr-light mbr-fonts-style display-7">
            LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPICISING ELIT.<br>
        </h3>
    </div>
    <div class="media-container-row">    
        <div class="row tabcont">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link mbr-fonts-style active" role="tab" data-toggle="tab" href="#tab1" aria-expanded="true">
                            <h4 class="mbr-fonts-style tab-header display-7">OUR ADVANTAGES</h4>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mbr-fonts-style active" role="tab" data-toggle="tab" href="#tab2" aria-expanded="false">
                            <h4 class="mbr-fonts-style tab-header display-7">OUR PRINCIPLES</h4>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mbr-fonts-style active" role="tab" data-toggle="tab" href="#tab3" aria-expanded="false">
                            <h4 class="mbr-fonts-style tab-header display-7">FIRM PROFILE</h4>
                        </a>
                    </li>
                    
                    
                    
                </ul>
        </div>
    </div>

    <div class="container">
        <div class="row px-1 justify-content-center">
            <div class="tab-content">
                <div id="tab1" class="tab-pane in active mbr-table" role="tabpanel">
                    <div class="row tab-content-row">
                        <div class="col-xs-12 col-md-6 tab-elem">
                            
                            <h4 class="mbr-element-title align-center mbr-fonts-style pb-2 display-7">
                                LOREM IPSUM
                            </h4>
                            <p class="mbr-section-text align-center mbr-fonts-style display-7">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, nihil deleniti, velit quo totam minus quia alias.
                            </p>
                        </div>

                        

                        

                        
                    </div>
                </div>

                <div id="tab2" class="tab-pane  mbr-table" role="tabpanel">
                    <div class="row tab-content-row">
                        <div class="col-xs-12 col-md-6 tab-elem">
                            
                            <h4 class="mbr-element-title align-center mbr-fonts-style pb-2 display-7">
                                LOREM IPSUM
                            </h4>
                            <p class="mbr-section-text align-center mbr-fonts-style display-7">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ut repellendus eius alias pariatur.
                            </p>
                        </div>

                        

                        

                        
                    </div>
                </div>

                <div id="tab3" class="tab-pane  mbr-table" role="tabpanel">
                    <div class="row tab-content-row">
                        <div class="col-xs-12 col-md-6 tab-elem">
                            
                            <h4 class="mbr-element-title align-center mbr-fonts-style pb-2 display-7">
                                LOREM IPSUM
                            </h4>
                            <p class="mbr-section-text align-center mbr-fonts-style display-7">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt ad adipisci amet nam delectus, eveniet nemo.
                            </p>
                        </div>

                        

                        

                        
                    </div>
                </div>

                <div id="tab4" class="tab-pane  mbr-table" role="tabpanel">
                    <div class="row tab-content-row">
                        <div class="col-xs-12 col-md-6 tab-elem">
                            
                            <h4 class="mbr-element-title align-center mbr-fonts-style pb-2 display-7">
                                LOREM IPSUM
                            </h4>
                            <p class="mbr-section-text align-center mbr-fonts-style display-7">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia nesciunt deserunt earum quidem omnis.
                            </p>
                        </div>

                        

                        

                        
                    </div>
                </div>

                <div id="tab5" class="tab-pane  mbr-table" role="tabpanel">
                    <div class="row tab-content-row">
                        <div class="col-xs-12 col-md-6 tab-elem">
                            
                            <h4 class="mbr-element-title align-center mbr-fonts-style pb-2 display-7">
                                LOREM IPSUM
                            </h4>
                            <p class="mbr-section-text align-center mbr-fonts-style display-7">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam earum perferendis quidem asperiores neque.
                            </p>
                        </div>

                        

                        

                        
                    </div>
                </div>

                <div id="tab6" class="tab-pane  mbr-table" role="tabpanel">
                    <div class="row tab-content-row">
                        <div class="col-xs-12 col-md-6 tab-elem">
                            
                            <h4 class="mbr-element-title align-center mbr-fonts-style pb-2 display-7">
                                LOREM IPSUM
                            </h4>
                            <p class="mbr-section-text align-center mbr-fonts-style display-7">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore ea, eos, atque labore odit reiciendis sunt.
                            </p>
                        </div>

                        

                        

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="extTabs tabs cid-sgUzTE5pn9" id="extTabs1-16">

    

    

    <div class="container">
        <h2 class="mbr-section-title align-center mbr-fonts-style display-5">SOFTWARE AND ERPs</h2>
        <h3 class="mbr-section-subtitle display-5 align-center mbr-light mbr-fonts-style display-7">
            LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPICISING ELIT.<br>
        </h3>
    </div>
    <div class="media-container-row">    
        <div class="row tabcont">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link mbr-fonts-style active" role="tab" data-toggle="tab" href="#tab1" aria-expanded="true">
                            <h4 class="mbr-fonts-style tab-header display-7">OUR ADVANTAGES</h4>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mbr-fonts-style active" role="tab" data-toggle="tab" href="#tab2" aria-expanded="false">
                            <h4 class="mbr-fonts-style tab-header display-7">OUR PRINCIPLES</h4>
                        </a>
                    </li>
                    
                    
                    
                    
                </ul>
        </div>
    </div>

    <div class="container">
        <div class="row px-1 justify-content-center">
            <div class="tab-content">
                <div id="tab1" class="tab-pane in active mbr-table" role="tabpanel">
                    <div class="row tab-content-row">
                        <div class="col-xs-12 col-md-6 tab-elem">
                            
                            <h4 class="mbr-element-title align-center mbr-fonts-style pb-2 display-7">
                                LOREM IPSUM
                            </h4>
                            <p class="mbr-section-text align-center mbr-fonts-style display-7">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, nihil deleniti, velit quo totam minus quia alias.
                            </p>
                        </div>

                        

                        

                        
                    </div>
                </div>

                <div id="tab2" class="tab-pane  mbr-table" role="tabpanel">
                    <div class="row tab-content-row">
                        <div class="col-xs-12 col-md-6 tab-elem">
                            
                            <h4 class="mbr-element-title align-center mbr-fonts-style pb-2 display-7">
                                LOREM IPSUM
                            </h4>
                            <p class="mbr-section-text align-center mbr-fonts-style display-7">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ut repellendus eius alias pariatur.
                            </p>
                        </div>

                        

                        

                        
                    </div>
                </div>

                <div id="tab3" class="tab-pane  mbr-table" role="tabpanel">
                    <div class="row tab-content-row">
                        <div class="col-xs-12 col-md-6 tab-elem">
                            
                            <h4 class="mbr-element-title align-center mbr-fonts-style pb-2 display-7">
                                LOREM IPSUM
                            </h4>
                            <p class="mbr-section-text align-center mbr-fonts-style display-7">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt ad adipisci amet nam delectus, eveniet nemo.
                            </p>
                        </div>

                        

                        

                        
                    </div>
                </div>

                <div id="tab4" class="tab-pane  mbr-table" role="tabpanel">
                    <div class="row tab-content-row">
                        <div class="col-xs-12 col-md-6 tab-elem">
                            
                            <h4 class="mbr-element-title align-center mbr-fonts-style pb-2 display-7">
                                LOREM IPSUM
                            </h4>
                            <p class="mbr-section-text align-center mbr-fonts-style display-7">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia nesciunt deserunt earum quidem omnis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia nesciunt deserunt earum quidem omnisLorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia nesciunt deserunt earum quidem omnis
                            </p>
                        </div>

                        

                        

                        
                    </div>
                </div>

                <div id="tab5" class="tab-pane  mbr-table" role="tabpanel">
                    <div class="row tab-content-row">
                        <div class="col-xs-12 col-md-6 tab-elem">
                            
                            <h4 class="mbr-element-title align-center mbr-fonts-style pb-2 display-7">
                                LOREM IPSUM
                            </h4>
                            <p class="mbr-section-text align-center mbr-fonts-style display-7">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam earum perferendis quidem asperiores neque.
                            </p>
                        </div>

                        

                        

                        
                    </div>
                </div>

                <div id="tab6" class="tab-pane  mbr-table" role="tabpanel">
                    <div class="row tab-content-row">
                        <div class="col-xs-12 col-md-6 tab-elem">
                            
                            <h4 class="mbr-element-title align-center mbr-fonts-style pb-2 display-7">
                                LOREM IPSUM
                            </h4>
                            <p class="mbr-section-text align-center mbr-fonts-style display-7">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore ea, eos, atque labore odit reiciendis sunt.
                            </p>
                        </div>

                        

                        

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="extFooter cid-sgUmmYzXJE" id="extFooter26-r">

    

    

    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-6 col-md-8 col-sm-12">

                <div class="navbar-brand pb-3">
                    <div class="logo">
                        <a href="#">
                            <img class="navbar-logo" src="/static/assets/images/original-800x800.png" alt="">
                        </a>
                    </div>
                </div>

                <h3 class="mbr-text mbr-bold mbr-fonts-style logo-title display-7">Pinkcity Infotech</h3>

                <h4 class="mbr-text mbr-fonts-style logo-sub-title display-4"><font color="#9e9e9e"><em>Software Company</em></font></h4>



                <div class="social-list align-center py-4">
                    <div class="soc-item">
                        <a href="https://twitter.com/mobirise" target="_blank">
                            <div class="mbr-iconfont mbr-iconfont-social socicon-twitter socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                            <div class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                            <div class="mbr-iconfont mbr-iconfont-social socicon-googleplus socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://instagram.com/mobirise" target="_blank">
                            <div class="mbr-iconfont mbr-iconfont-social socicon-skype socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://instagram.com/mobirise" target="_blank">
                            <div class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                        </a>
                    </div>
                    
                </div>
                <p class="mbr-text mbr-normal py-2 links mbr-fonts-style display-4">
                    Copyright (c) 2020&nbsp;<a href="/" class="text-primary">Pinkcity Infotech</a></p>

            </div>









        </div>
    </div>

</section>


<script src="/static/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="/static/assets/popper/popper.min.js"></script>
  <script src="/static/assets/tether/tether.min.js"></script>
  <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/assets/smoothscroll/smooth-scroll.js"></script>
  <script src="/static/assets/dropdown/js/nav-dropdown.js"></script>
  <script src="/static/assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="/static/assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="/static/assets/mobirise-tabs/mbr-tabs.js"></script>
  <script src="/static/assets/theme/js/script.js"></script>
  
  
  
</body>
</html>